.journal-form{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.input-title{
    border: none;
    background: none;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-family: 'Source Sans 3', sans-serif;
    border-bottom: 1px solid #323232;
    border-top: 1px solid rgba(111,111,111,0.0);
    width: 100%;
    outline:none /*убрать обводку input*/
}
.form-lablel{
    display: flex;
    align-items: center;
    gap: 20px;
    min-width: 150px;
}
.form-lablel img{
    width: 33px;
}
.form-row{
    display: flex;
    align-items: center;
    gap: 50px;
}

.input{
    border: none;
    background: none;
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-family: 'Source Sans 3', sans-serif;
    border-bottom: 1px solid #323232;
    border-top: 1px solid rgba(111,111,111,0.0);
    width: 100%;
    transition: 0.5s;
    outline:none /*убрать обводку input*/
}
.invalid{
     border: 1px solid red;
     background: rgba(113, 13, 13, 0.4);
     transition: 0.5s;
 }